{% extends "layout.html" %}
{% block content %}
    {% for post in posts %}
        <article class="media content-section">
            <div class="media-body">
                <p class="article-content">{{ post.jokeText }}</p>
                <div class="article-metadata">
                    <div class="d-flex flex-row">
                        <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/' + post.author.imageFile) }}">
                        <a href="#" class="text-muted">{{ post.author.username }}</a>
                        <small class="text-muted">{{ post.dateCreated.strftime("%m-%d-%Y") }}</small>
                    </div>
                    <div class="d-flex flex-row-reverse">
                        <a href="{{ url_for('view_post', post_id=post.id) }}" class="text-muted">View</a>
                    </div>
                </div>  
            </div>
        </article>
    {% endfor %}
{% endblock content %}