{% extends "layout.html" %}
{% block content %}
    <div id="posts">
        {% for post in posts.items %}
            <article class="media content-section">
                <div class="media-body">
                    <p class="article-content">{{ post.jokeText }}</p>
                    <div class="article-metadata">
                        <div class="d-flex flex-row">
                            <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/' + post.author.imageFile) }}">
                            <a href="{{ url_for('users.user_page', username=post.author.username) }}" class="text-muted">{{ post.author.username }}</a>
                            <small class="text-muted">{{ post.dateCreated.strftime("%m-%d-%Y") }}</small>
                        </div>
                        <div class="d-flex flex-row-reverse">
                            <a href="{{ url_for('posts.view_post', post_id=post.id) }}" class="text-muted">View</a>
                            <small id="dislikeCount">{{ post.dislikes.count() }}</small>
                            <div id="dislikeButton">
                            {% if current_user.is_authenticated and current_user.has_disliked_post(post) %}
                                <a href="{{ url_for('posts.dislike_action', post_id=post.id, action='undislike') }}">
                                    <svg class="bi bi-caret-down-fill" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M7.247 11.14L2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 01.753 1.659l-4.796 5.48a1 1 0 01-1.506 0z"/>
                                    </svg>
                                </a>
                            {% else %}
                                <a href="{{ url_for('posts.dislike_action', post_id=post.id, action='dislike') }}">
                                    <svg class="bi bi-caret-down" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" d="M3.204 5L8 10.481 12.796 5H3.204zm-.753.659l4.796 5.48a1 1 0 001.506 0l4.796-5.48c.566-.647.106-1.659-.753-1.659H3.204a1 1 0 00-.753 1.659z" clip-rule="evenodd"/>
                                    </svg>
                                </a>
                            {% endif %}
                            </div>
                            <small id="likeCount">{{ post.likes.count() }}</small>
                            <div id="likeButton">
                            {% if current_user.is_authenticated and current_user.has_liked_post(post) %}
                                <a href="{{ url_for('posts.like_action', post_id=post.id, action='unlike') }}">
                                    <svg class="bi bi-caret-up-fill" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M7.247 4.86l-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 00.753-1.659l-4.796-5.48a1 1 0 00-1.506 0z"/>
                                    </svg>
                                </a>
                            {% else %}
                                <a href="{{ url_for('posts.like_action', post_id=post.id, action='like') }}">
                                    <svg class="bi bi-caret-up" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" d="M3.204 11L8 5.519 12.796 11H3.204zm-.753-.659l4.796-5.48a1 1 0 011.506 0l4.796 5.48c.566.647.106 1.659-.753 1.659H3.204a1 1 0 01-.753-1.659z" clip-rule="evenodd"/>
                                    </svg>
                                </a>
                            {% endif %}
                            </div>
                        </div>
                    </div>  
                </div>
            </article>
    {% endfor %}
    {% for page_num in posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
        {% if page_num %}
            {% if posts.page == page_num %}
                <a class="btn btn-info mb-4" href="{{ url_for('main.home', page=page_num) }}">{{ page_num }}</a>
            {% else %}
                <a class="btn btn-outline-info mb-4" href="{{ url_for('main.home', page=page_num) }}">{{ page_num }}</a>
            {% endif %}
        {% else %}
            ...
        {% endif %}
    {% endfor %}
    </div>
{% endblock content %}